<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>dailyaccount</display-name>
  
 
   <servlet-mapping>
    <servlet-name>userOperations</servlet-name>
    <url-pattern>/userOperations/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userOperations</display-name>
    <servlet-name>userOperations</servlet-name>
    <servlet-class>com.dailyaccount.controller.userOperations</servlet-class>
  </servlet>
</web-app>